nmap <Space><Space> :
nmap <Space>j :action PreviousTab<CR>
nmap <Space>k :action NextTab<CR>
nmap <Space>q :action CloseEditor<CR>
nmap <Space>w :action CloseAllEditorsButActive<CR>
nmap <Space>p :action SearchEverywhere<CR>
nmap <Space>o :action GotoSymbol<CR>
nmap <Space>e :action RunClass<CR>

nmap K :action GotoDeclaration<CR>

imap FF <ESC>:action ReformatCode<CR>
imap jk <ESC>
imap jl <ESC>A

imap j; <ESC>A;<ESC>

imap jv ""<Left>
imap jb ''<Left>
imap jt <><Left>
imap jg []<Left>
imap jf {}<Left>
imap jd ()<Left>
